.stories {
  width: 100%;
  height: 100%;
  // overflow: hidden;
  position: relative;
}

.stories-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 682px;
  overflow: hidden;
  border-radius: 30px;

  // -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  // -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  // box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

  // filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  // -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  // zoom: 1;

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.stories-item {
  position: relative;
  // min-height: 700px;
  // min-width: 350px;
  /* width: 350px; */
  margin: 0 10px;
  background: transparent;
  border-radius: 30px;
  transform: scale(0.8);
}

.stories-item iframe {
  // min-height: 362px;
  min-width: 350px;
  // width: 100%;
  /* height: 100%; */
  border-radius: 2rem;
  pointer-events: none;

  // background-color: rgb(68, 68, 68); /* Needed for IEs */

  -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 1;
}

.stories-item-icon {
  position: absolute;
  top: 8px;
  right: 4px;
  z-index: 2;
  font-size: 36px;
  color: #fff;
  // color: #3535ff;
  // background: #fff;
  background: #3535ff;
  border-radius: 50%;
  // width: 40px;
  // background: red
  // border-radius: 20px;

  // box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // -webkit-box-sizing: border-box;
  // border: 1px solid #3535ff;
}

.stories-carousel {
  cursor: grab;
  overflow: hidden;
  /* background: pink; */
  // background: #9bffff;
  // padding: 10px;
  // animation: slide 1s;
}

.carousel-wrap {
  width: fit-content;
  // overflow: visible;
}

.stories-inner-carousel {
  display: flex;
  width: fit-content;
  // background: red;
  // transform: translate(-500px, 0);
  // animation: move 1s;
}

// @keyframes move {
//   0% {
//     transform: translate(0, 0);
//   }
//   100% {
//     transform: translate(-500px, 0);
//   }
// }

// @keyframes slide {
//   0% {
//     transform: translate(0, 0);
//   }
//   100% {
//     transform: translate(-500px, 0);
//   }
// }

.stories-item:hover {
  .stories-item-icon {
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    zoom: 1;
    // transform: scale(1.2);
    animation: animate-icon 5s;
  }
}

@keyframes animate-icon {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
